@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {
    background-color: #009efa;
    color: white;
    font-family: 'Comfortaa', Helvetica, sans-serif;
    text-align: center;
	overflow-x: hidden;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 780px;
    height: 300px;
    margin-top: -150px;
    margin-left: -390px;
}
.name {
    font-size: 7em;
}
.container .sub {
    font-size: 5em;
    margin-top: -17px;
    margin-bottom: 17px;
}
.container .small {
    font-size: 1.5em;
    margin-top: 10px;
}
.container .big {
    font-size: 4.6em;
}
.container .details {
    font-size: 2.6em;
}
a {
	text-transform: uppercase;
	letter-spacing: 0.15em;
  
	position: relative;
	color: #FFF;
	text-decoration: none;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
a:hover {
  color: #FFF;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FFF;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0%; 
}
.back {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    font-size: 1.5em;
}
@media all and (max-width: 780px) {
    .container {
        top: 50%;
        left: 50%;
        width: 520px;
        height: 200px;
        margin-top: -100px;
        margin-left: -260px;
    }
    .container .name {
        font-size: 5em;
    }
    .container .sub {
        font-size: 3em;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .container .social {
        font-size: 1em;
    }
    .container .imprint {
        font-size: 2.8em;
    }
    .container .details {
        font-size: 1.8em;
    }
    .back {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1em;
    }
    .footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        font-size: 1em;
    }
}
img.skin {
	width:15%;
    height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
    filter: sepia;
    -webkit-filter: contrast(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}
img.skin:hover {
    filter: none;
    -webkit-filter: contrast(150%);
}

li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
